<center>
  <nav class="navbar navbar-default" role="navigation">
    <strong><%= link_to 'Index', root_path %></strong>
    <strong><%= link_to 'Vzdelavaci Obsah', obsahs_path %></strong>
    <strong><%= link_to 'Studijne odbory', odbors_path %></strong>
    <strong><%= link_to 'Profesijne odbory', profesia_path %></strong>
    <right><strong><%= link_to 'Login/Log Out', root_path %></strong></right>
      <right><strong><%= link_to 'Registracia', root_path %></strong></right>
  </nav>
</center>