<%= form_for(@obsah) do |f| %>
  <% if @obsah.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@obsah.errors.count, "error") %> prohibited this obsah from being saved:</h2>

      <ul>
      <% @obsah.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.hidden_field :pouzivatel, :value => current_user.email %>
   <div class="field">
     <%= f.label :priradene_profesie %><br>
     <%= f.text_field :priradene_profesie %>
     <!--<% @prof = Profesium.all.group(:id) %>-->
     <!--<%= f.select :priradene_profesie, @prof.map{ |c| [c.nazov_profesie, c.nazov_profesie] }, :include_blank => true, :multiple => true %><br> -->
  </div>
  <div class="field">
    <%= f.label :priradene_obory %><br>
    <%= f.text_field :priradene_obory %>
    <!--<% @odbor = Odbor.all %>-->
    <!--<%= f.select :priradene_obory, @odbor.map{ |c| [c.nazov, c.nazov] }, :include_blank => true, :multiple => true %><br> -->
  </div>
  <div class="field">
    <%= f.label :nazov_obsahu %><br>
    <%= f.text_field :nazov_obsahu %>
  </div>
  <div class="field">
    <%= f.label :vzdelavaci_obsah %><br>
    <%= f.text_area :vzdelavaci_obsah %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
