<%= form_for(@obsah) do |f| %>
  <% if @obsah.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@obsah.errors.count, "error") %> prohibited this obsah from being saved:</h2>

      <ul>
      <% @obsah.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pouzivatel %><br>
    <%= f.text_field :pouzivatel %>
  </div>
  <div class="field">
    <%= f.label :priradene_profesie %><br>
    <%= f.text_field :priradene_profesie %>
  </div>
  <div class="field">
    <%= f.label :priradene_obory %><br>
    <%= f.text_field :priradene_obory %>
  </div>
  <div class="field">
    <%= f.label :nazov_obsahu %><br>
    <%= f.text_field :nazov_obsahu %>
  </div>
  <div class="field">
    <%= f.label :vzdelavaci_obsah %><br>
    <%= f.text_area :vzdelavaci_obsah %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
