<%= link_to 'New Profesium', new_profesium_path %>

<table class="table table-bordered">
  <thead>
  <tr>
    <th >  Cislo  </th>
    <th>  Nazov  </th>
    <th colspan="3" rowspan="3" ></th>
  </tr>
  </thead>

  <tbody>
  <% @profesia.each do |profes| %>
      <tr>
        <td><%= profes.profesia_cislo %></td>
        <td><%= profes.nazov_profesie %></td>
        <td width="20%">
          <button type="submit" class="btn btn-info "><%= link_to 'Show', profes %></button>
          <button type="submit" class="btn btn-default "><%= link_to 'Edit', edit_profesium_path(profes) %></button>
          <button type="submit" class="btn btn-warning "><%= link_to 'Destroy', profes, method: :delete, data: { confirm: 'Are you sure?' } %></button>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

